<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<div class="col d-flex justify-content-center">
<div class="p-3 mb-2 bg-white text-dark">

{% if latest_question_list %}
    
    <ul class="list-group">
        {% for question in latest_question_list %}
        <li class="list-group-item">
            <div class="col-md-12 text-center">
            <a href="{% url 'polls:detail' question.id %}" class="btn btn-primary" role="button">
                <center>{{ question.question_text }}</center>
            </a>
            </div>
        </li>
    {% endfor %}
    </ul>
    <img src="https://www.metroworldnews.com/resizer/txczNNHfsqinSs4WX86ZoDGjsiQ=/800x0/filters:format(jpg):quality(70)/cloudfront-us-east-1.images.arcpublishing.com/metroworldnews/DKJN7STOHJHAPDR56UN2N2Z4FI.jpeg" alt="" class="img-thumbnail">
    
{% else %}
    <p>No polls are available.</p>
{% endif %}

</div>
</div>