{% load static %}

<link rel=stylesheet type="text/css" href="{% static 'polls/bootstrap/bootstrap.css' %}">" 
<br>

<div class="col d-flex justify-content-center">
<div class="p-3 mb-2 bg-white text-dark">

<p class="mytitle">POLLS APP</p>
<p class="mydesc">This APP was made following the <a href="https://www.djangoproject.com/" class="mydesc">DjangoProject</a> tutorial</p>


<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
{% if latest_question_list %}
    
    <ul class="list-group">
        {% for question in latest_question_list %}
        <li class="list-group-item">
            <div class="col-md-12 text-center">
            <a href="{% url 'polls:detail' question.id %}" class="btn btn-primary" role="button">
                <center>{{ question.question_text }}</center>
            </a>
            </div>
        </li>
    {% endfor %}
    </ul>
    {% comment %} <p> {{ ip }} </p> {% endcomment %}
    <p> Hoy visitaste la página {{visitas}} veces </p>
    <img src="{% static '/polls/images/hasbu.jpeg' %}" alt="" class="img-thumbnail"> 
{% else %}
    <p>No polls are available.</p>
{% endif %}


</div>
</div>